<app-navbar></app-navbar>
<div class="home">
	<div class="home__search">
		<div class="home__search--title">
			<h1>Consulta de carros na Tabela Fipe</h1>
		</div>
		<mat-card>
			<mat-horizontal-stepper linear #stepper>
				<mat-step>
					<form class="home__search--form">
						<ng-template matStepLabel>Selecione a marca do veículo</ng-template>
						<mat-form-field class="home__search--form-field">
							<mat-label>Marca</mat-label>
							<input type="text" matInput [formControl]="brandControl" [matAutocomplete]="auto">
							<mat-autocomplete #auto="matAutocomplete">
								<mat-option 
									*ngFor="let option of filteredOptions | async" 
									(click)="getAutocompleteValue(option.id)"
									[value]="option.fipe_name"
								>
									{{ option.fipe_name }}
								</mat-option>
							</mat-autocomplete>
						</mat-form-field>
						<div>
							<button mat-raised-button matStepperNext
								(click)="getCarsByBrand(valueSelected[0])">Próximo</button>
						</div>
					</form>
				</mat-step>
				<mat-step>
					<form class="home__search--form">
						<ng-template matStepLabel>Selecione o modelo do veículo</ng-template>
						<mat-form-field class="home__search--form-field">
							<mat-label>Modelo</mat-label>
							<input type="text" matInput [formControl]="carsByBrandControl" [matAutocomplete]="auto">
							<mat-autocomplete #auto="matAutocomplete">
								<mat-option 
									*ngFor="let option of filteredOptions | async" 
									(click)="getAutocompleteValue(option.id)"
									[value]="option.fipe_name">
									{{ option.fipe_name }}
								</mat-option>
							</mat-autocomplete>
						</mat-form-field>
						<div>
							<button class="home__search--btn" mat-raised-button matStepperPrevious>Voltar</button>
							<button mat-raised-button matStepperNext
								(click)="getCarsModels(valueSelected[0], valueSelected[1])">Próximo</button>
						</div>
					</form>
				</mat-step>
				<mat-step>
					<form class="home__search--form">
						<ng-template matStepLabel>Selecione o ano do modelo do veículo</ng-template>
						<mat-form-field class="home__search--form-field">
							<mat-label>Ano do veículo</mat-label>
							<mat-select [formControl]="carsModelsControl">
								<mat-option *ngFor="let option of carsModels" [value]="option.id">
									{{option.name}}
								</mat-option>
							</mat-select>
						</mat-form-field>
						<div>
							<button class="home__search--btn" mat-raised-button matStepperPrevious>Voltar</button>
							<button mat-raised-button
								(click)="getCarsModelsByYear(valueSelected[0], valueSelected[1], carsModelsControl.value)">Pesquisar</button>
						</div>
					</form>
				</mat-step>
			</mat-horizontal-stepper>

			<mat-card *ngIf="finalResult">
				<app-table [selectedCar]="selectedCar"></app-table>
				<div style="margin-top: 10px;display: flex;justify-content: center;">
					<button 
						mat-raised-button  
						(click)="reset();stepper.reset();"
					>Limpar pesquisa</button>
				</div>
			</mat-card>
		</mat-card>
	</div>
</div>