<app-navbar></app-navbar>
<div class="home">
	<div class="home__search">
		<div class="home__search--title">
			<h1>Consulta de carros na Tabela Fipe</h1>
		</div>
		<mat-card>
			<mat-horizontal-stepper linear #stepper>
				<mat-step [stepControl]="firstFormGroup">
					<form [formGroup]="firstFormGroup">
						<ng-template matStepLabel>Selecione a marca do veículo</ng-template>
						<mat-form-field>
							<mat-label>Marca</mat-label>
							<input type="text" aria-label="Number" matInput [formControl]="brandControl"
								[matAutocomplete]="auto">
							<mat-autocomplete #auto="matAutocomplete">
								<mat-option *ngFor="let option of filteredOptions | async" [value]="option.id">
									{{ option.fipe_name }}
								</mat-option>
							</mat-autocomplete>
						</mat-form-field>
						<div>
							<button mat-raised-button matStepperNext (click)="getCarsByBrand(brandControl.value)">Próximo</button>
						</div>
					</form>
				</mat-step>
				<mat-step [stepControl]="secondFormGroup">
					<form [formGroup]="secondFormGroup">
						<ng-template matStepLabel>Selecione o modelo do veículo</ng-template>
						<mat-form-field>
							<mat-label>Modelo</mat-label>
							<input type="text" aria-label="Number" matInput [formControl]="carsByBrandControl"
								[matAutocomplete]="auto">
							<mat-autocomplete #auto="matAutocomplete">
								<mat-option *ngFor="let option of filteredOptions | async" [value]="option">
									{{ option.fipe_name }}
								</mat-option>
							</mat-autocomplete>
						</mat-form-field>
						<div>
							<button mat-raised-button matStepperPrevious>Voltar</button>
							<button mat-raised-button matStepperNext (click)="getCarsModels(brandControl.value, carsByBrandControl.value)">Próximo</button>
						</div>
					</form>
				</mat-step>
				<mat-step [stepControl]="thirdFormGroup">
					<form [formGroup]="thirdFormGroup">
						<ng-template matStepLabel>Selecione o ano do modelo do veículo</ng-template>
						<mat-form-field>
							<mat-label>Ano do veículo</mat-label>
							<input type="text" aria-label="Number" matInput [formControl]="carsModelsControl"
								[matAutocomplete]="auto">
							<mat-autocomplete #auto="matAutocomplete">
								<mat-option *ngFor="let option of filteredOptions | async" [value]="option">
									{{ option.name }}
								</mat-option>
							</mat-autocomplete>
						</mat-form-field>
						<div>
							<button mat-raised-button matStepperPrevious>Voltar</button>
							<button mat-raised-button matStepperNext (click)="getCarsModelsByYear(brandControl.value, carsByBrandControl.value, carsModelsControl.value)">Pesquisar</button>
						</div>
					</form>
				</mat-step>
			</mat-horizontal-stepper>
			
			<mat-card *ngIf="finalResult">
				<mat-list>
					<mat-list-item>
						<span class="table__title">Mês de referência: </span>{{ selectedCar.referencia }}
					</mat-list-item>
					<mat-divider></mat-divider>
					<mat-list-item>
						<span class="table__title">Código Fipe: </span>{{ selectedCar.fipe_codigo }}
					</mat-list-item>
					<mat-divider></mat-divider>
					<mat-list-item>
						<span class="table__title">Marca: </span>{{ selectedCar.marca }}
					</mat-list-item>
					<mat-divider></mat-divider>
					<mat-list-item>
						<span class="table__title">Modelo: </span>{{ selectedCar.veiculo }}
					</mat-list-item>
					<mat-divider></mat-divider>
					<mat-list-item>
						<span class="table__title">Ano modelo: </span>{{ selectedCar.ano_modelo }}
					</mat-list-item>
					<mat-divider></mat-divider>
					<mat-list-item>
						<span class="table__title">Combustível: </span>{{ selectedCar.combustivel }}
					</mat-list-item>
					<mat-divider></mat-divider>
					<mat-list-item>
						<span class="table__title">Preço médio: </span>{{ selectedCar.preco }}
					</mat-list-item>
				</mat-list>
			</mat-card>
		</mat-card>
	</div>
</div>