.home {
    width: 100vw;
	
	display: flex;
    justify-content: center;
	align-items: flex-start;
	
	&__search {
		width: 80vw;
		margin-top: 50px;
		margin-bottom: 50px;
	}
}
.mat-stepper-horizontal {
	margin-top: 8px;
}

.mat-form-field {
	margin-top: 16px;
}

button {
	margin-right: 10px;
}

.table {
	&__title {
		font-weight: bold;
		margin-right: 10px;
	}
}

::ng-deep .mat-step-header .mat-step-icon-selected {
    background-color: #EC7000; 
}

::ng-deep .mat-step-header .mat-step-icon-state-edit {
	background-color: #EC7000;
}