.card {
	max-width: 270px;

	&__title {
		margin-bottom: 35px;
	}
	
	h1 {
		font-size: 16px;
		font-weight: 500;
		margin: 0;
		line-height: 10px;
	}

	h2 {
		font-size: 13px;
		font-weight: 300;
	}

	&__info {
		&--price {
			font-size: 30px;
			margin-bottom: 20px;
		}

		&--more {
			margin: 0;
		}
	}
}
