<mat-card class="card">
	<!-- <img 
		mat-card-image 
		src="https://s2.glbimg.com/i3HAGVwjUNq6LMo97or4mEtFxJg=/e.glbimg.com/og/ed/f/original/2012/10/15/chevroletonix_01.jpg" 
		alt="Foto do carro"> -->
	<mat-card-content>
		<div>
			<div class="card__title">
				<h1>Chevrolet - Onix</h1>
				<h2>1.4 MPFI EFFECT 8V FLEX 4P AUTOMATIZADO</h2>
			</div>
			<div class="card__info">
				<p class="card__info--price">R$34000,00</p>
				<p class="card__info--more">2013/2013</p>
				<p class="card__info--more">São Paulo - SP</p>
			</div>
		</div>
	</mat-card-content>
</mat-card>