<mat-list>
    <mat-list-item>
        <span class="table__title">Mês de referência: </span>{{ selectedCar.referencia }}
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <span class="table__title">Código Fipe: </span>{{ selectedCar.fipe_codigo }}
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <span class="table__title">Marca: </span>{{ selectedCar.marca }}
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <span class="table__title">Modelo: </span>{{ selectedCar.veiculo }}
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <span class="table__title">Ano modelo: </span>{{ selectedCar.ano_modelo }}
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <span class="table__title">Combustível: </span>{{ selectedCar.combustivel }}
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <span class="table__title">Preço médio: </span>{{ selectedCar.preco }}
    </mat-list-item>
</mat-list>